<div class="middle-section col-sm-6 col-sm-offset-3">
    <% @users.each do |user|%>
        <div class="card col-sm-12 friend-box">
            <%= link_to user_path(user) do %><%= image_tag(user.image, :class => "user-image mt-3") %><% end %>
            <div class="friend-content">
                <span><%= user.name %></span>
                <% if Friendship.requested(user.id, current_user) %>
                    <div>
                        <button style="color: #4267b2" disabled>friend request sent</button>
                        <%= link_to user_friendship_path(user, user_id: user.id), method: 'delete' do %>
                            <button>cancel request</button>
                        <% end %>
                    </div>
                <% elsif is_friend(user.id)%>
                    <div>
                        <button style="color: #4267b2" disabled>friends</button>
                        <%= link_to user_friendship_path(user, user_id: user.id), method: 'delete' do %>
                            <button>unfriend</button>
                        <% end %>
                    </div>
                <% else %>
                    <%= link_to  new_user_friendship_path(user, user_id: user.id) do %>
                        <button>add friend</button>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
