
<div class="middle-section col-sm-6 col-sm-offset-3">
    <% @friends.each do |friend|%>
        <% if friend.friend_id == current_user.id %>
            <div class="card col-sm-12 friend-box">
                <%= link_to user_path(friend.user) do %><%= image_tag(friend.user.image, :class => "user-image mt-3") %><% end %>
                <div class="friend-content">
                    <span><%= friend.user.name %></span>
                    <div>
                        <button disabled>friends</button>
                        <%= link_to user_friendship_path(friend.user, user_id: friend.user.id), method: 'delete' do %>
                            <button>unfriend</button>
                        <% end %>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="card col-sm-12 friend-box">
                <%= link_to user_path(friend.friend) do %><%= image_tag(friend.friend.image, :class => "user-image mt-3") %><% end %>
                <div class="friend-content">
                    <span><%= friend.friend.name %></span>
                    <div>
                        <button disabled>friends</button>
                        <%= link_to user_friendship_path(friend.friend, user_id: friend.friend.id), method: 'delete' do %>
                            <button>unfriend</button>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
