<div class="middle-section col-sm-6 col-sm-offset-3">
    <% @friends.each do |friend|%>
        <% if friend.friend_id == current_user %>
            <%= link_to user_path(friend.user) do %>
                <div class="card col-sm-12 friend-box">
                    <%= image_tag(friend.user.image, :class => "user-image mt-3") %> 
                    <div class="friend-content">
                        <span><%= friend.user.name %></span>
                        <div>
                            <button disabled>friends</button>
                            <button>unfriend</button>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <%= link_to user_path(friend.friend) do %>
                <div class="card col-sm-12 friend-box">
                    <%= image_tag(friend.friend.image, :class => "user-image mt-3") %> 
                    <div class="friend-content">
                        <span><%= friend.friend.name %></span>
                        <div>
                            <button disabled>friends</button>
                            <button>unfriend</button>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>
