<div class="col-sm-12">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label "Create Post", :class => "post-label" %><br />
      <%= form.text_area :content, col: 4, row: 15, autofocus: true, autocomplete: "content", placeholder:"What's on your mind", :class =>"form-control" %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

